#set( $nameLC = ${entity.name.toLowerCase()} )

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript"
	th:src="@{/static/jquery/multiple-select/js/jquery.multiselect.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/jquery/multiple-select/css/jquery.multiselect.css}" />	

<body>
	<div class="title-head clearfix">
		<div class="col-sm-9 col-xs-7 no-padding">
			<h3>
				<i class="fa fa-table"></i> <span th:text="#{${nameLC}.title}"></span>
			</h3>
		</div>
		 <div class="col-sm-3 col-xs-5 icon-head">
            <div class="pull-right">
              <a ><i class="fa fa-plus-circle icon-head-red" id="add" ></i>
			 </a>
            </div>
       	</div>
	</div>
	<div id="msg"></div>
	<!-- FORM SEARCH -->
	<form class="form-horizontal u-for-page-top j-formSearch" th:action="@{/}" th:object="${DOLLAR}{searchDto}" method="POST" role="form" id="formSearch">	
		<th:block th:include="views/commons/message-alert.html :: content(${DOLLAR}{messageList}" />
		<div class="bg-content clearfix">
			<div data-toggle="collapse" data-target="#search-box" class="header-box"> 
               <h2 class="title-box" th:text="#{search.title}">Vùng tìm kiếm</h2>
               <i class="fa fa-minus pull-right" aria-hidden="true"></i> 
            </div>
            <div class="collapse in row m-0" id="search-box">
            	<div class="col-xs-12 col-sm-12 form-group p-0">
						<!--  <label class="col-md-1">From</label>
						<div class="col-md-2">
							<div class="input-group date">
								<input class="form-control"  autocomplete="off" th:field="*{fromDate}"/>
								<span class="input-group-addon fromDate">
									<i class="fa fa-calendar"></i>
								</span>
							</div>
						</div>
						<label class="col-md-1">To</label>
						<div class="col-md-2 form-group">
							<div class="input-group date">
								<input class="form-control" autocomplete="off" th:field="*{toDate}"/><span
								class="input-group-addon toDate"><i
								class="fa fa-calendar"></i></span>
							</div>
						</div>  -->
						<div class="col-md-5 form-group">
							<input type="text" class="form-control" th:field="*{fieldSearch}" th:placeholder="#{search.key}" autocomplete="off"/>
						</div>
						<div class="col-md-3 form-group">
							<select th:field="*{fieldValues}" multiple="multiple" class="form-control" id="search-filter">
							<th:block th:each="item : ${DOLLAR}{fieldSelect}">
								<option th:value="${DOLLAR}{item.value}"
									th:selected="${DOLLAR}{searchDto.fieldValues} ? ${DOLLAR}{#arrays.contains(searchDto.fieldValues,item.value)}: false"   
									th:text="#{${DOLLAR}{item.name}}"></option>
							</th:block>
							</select>
						</div>
						<div class="col-sm-2">
					        <a class="btn-common pull-left" id="btnSearch">
								<i class="fa fa-search"></i>
								<span th:text="#{search.button}"></span>
							</a>
						</div>
					</div>
			</div>
		</div>
	</form>	
	<!-- HTML TABLE -->
	<div class="bg-content clearfix bg-content-tbl" id="tableList">
		<th:block th:include="views/${nameLC}/${nameLC}-table.html :: content"/>
	</div>
	<input type="hidden" id="fieldSearchHidden"/>
	<input type="hidden" id="fieldValuesHidden"/>

</body>
</html>
