#set( $dataFields = $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) )
#set( $entityLC = $fn.toLowerCase($entity.name))
#set( $nameLC = ${entity.name.toLowerCase()} )
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<body th:fragment="content">
		<div class="col-sm-12 p-0">
			<h2 class="title-box" th:text="#{search.results.title}">Kết quả tìm kiếm</h2>
			<div class="box-tools pull-right">
				<button class="no-btn" type="button" id="btnExport">
					<i class="fa fa-file-excel-o pull-right icon-head-red" aria-hidden="true"></i>
				</button>
			</div>
			<div class="table-responsive">			
				<table class="table table-bordered table-striped cursor-tr">
					<thead>
						<tr>
							<th class="u_t_no">#</th>
							<th class="u_t_action" th:text="#{action.label}">Action</th>
			   #foreach( $field in $dataFields )	
			   <th class="u_t_code" th:text="#{${entityLC}.${field.formattedName(0)}}">$fn.toUpperCase($field.formattedName(0))</th>
			   #end	
			   </tr>
					</thead>
					<tbody>
						<th:block th:each="item,i : ${DOLLAR}{pageWrapper.data}" th:with="startIndex=${DOLLAR}{pageWrapper.startIndexCurrent}">
		              	<tr th:attr="data-id=${DOLLAR}{item.id}">
		              		<td th:text="${DOLLAR}{i.index + startIndex}" class="text-center" ></td>
		              		<td class="text-center">
								<div >
									<a class="glyphicon glyphicon-eye-open custom-icon j-btn-detail"></a>
		                            <a class="glyphicon glyphicon-edit custom-icon j-btn-edit"></a>		                        
	                            	<a class="glyphicon glyphicon-remove-sign font-size-20 red j-btn-delete"></a>
                            	</div>	
	                        </td>   
		#foreach( $field in $dataFields )
		#if($field.jdbcTypeName == 'TIMESTAMP')
		<td class="text-center" th:text="${DOLLAR}{item.${field.formattedName(0)}} ? ${DOLLAR}{#dates.format(item.${field.formattedName(0)}, @menuConfig.getFormDate())}"></td>
		#else	
		<td th:text="${DOLLAR}{item.${field.formattedName(0)}}">$fn.toUpperCase($field.formattedName(0))</td>
		#end
		#end	
		</tr>
						</th:block>																												
					</tbody>					
				</table>							
			</div>			
		</div>
		<th:block th:include="views/commons/pagination.html :: content"/>
		<script type="text/javascript" th:src="@{/static/js/${nameLC}/${nameLC}-table.js}"></script>
	</body>
</html>
