#set( $nameLC = ${entity.name.toLowerCase()} )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
	"-//Apache Software Foundation//DTD Tiles Configuration 2.1//EN"
	"http://tiles.apache.org/dtds/tiles-config_2_1.dtd">

<tiles-definitions>
	<definition name="${nameLC}.list" extends="unit">
		<put-attribute name="body" value="views/${nameLC}/${nameLC}-list.html" />
	</definition>

	<definition name="${nameLC}.table" extends="ajax">
    	<put-attribute name="body" value="views/${nameLC}/${nameLC}-table.html"/>
  	</definition>
	
	<definition name="${nameLC}.edit" extends="unit">
		<put-attribute name="body" value="views/${nameLC}/${nameLC}-edit.html" />
	</definition>	
	
	<definition name="${nameLC}.detail" extends="unit">
		<put-attribute name="body" value="views/${nameLC}/${nameLC}-detail.html" />
	</definition>
</tiles-definitions>
